html * {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: rgb(16, 2, 54); */
}

/* .blankLink{
    text-decoration: none;
    color: black;
  } */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

a .sbtn {
  position: fixed !important;
  z-index: 9999;
  background-image: linear-gradient(
    to bottom,
    #0c7cde,
    rgb(16, 2, 54),
    #0c7cde
  );
  background-size: 400% 250%;
  cursor: pointer;
  text-transform: lowercase;
  bottom: 15px;
  right: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: white;
  padding: 7px 20px 1px 20px;
  border: solid 0.1px white;
  box-shadow: rgb(0, 0, 0) 0px 9px 28px -2px;
  border-radius: 21px;
  transition: 613ms;
  transform: translateY(0);
}

a .sbtn:hover {
  position: fixed !important;
  transition: 613ms;
  padding: 7px 20px 1px 20px;
  transform: translateY(-18px);
  color: white;
  border: solid 1px white;
  background-position: bottom;
}

body {
  background-image: url("../media/images/fishCircle2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden; /* Remove the bottom scrollbar */

  height: 2000px;
}

.menu-container {
  width: 100%; /* Ensure header covers full width */
  border-bottom: solid white 1px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #9b9b9b;
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  background-color: rgb(0, 40, 87);
}

.menu-logo {
  line-height: 0;
  margin: 0 0 0 0;
  padding-right: 16px;
}
.Klogo {
  border: rgba(0, 0, 0, 0) solid !important;
}
.Klogo:hover {
  border: rgba(0, 0, 0, 0) solid !important;
}
.cart img {
  max-width: 40px !important;
  max-height: 40px !important;
}

.menu-logo img {
  max-height: 90px;
  max-width: 100px;
  flex-shrink: 0;
  padding: 1px;
  background-color: rgb(0, 40, 87);
  border-radius: 10px;
  padding: 5px;
  border: #0c7cde00 solid !important;
}

.menu-container a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  transition: 0.5s;
  border-radius: 15px;

  padding: 8px;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff; /*hamburger color*/
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: rgb(255, 255, 255);
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
  #circle {
    display: none;
  }
  #mobileTitle {
    display: block;
    align-self: center;
    position: absolute;
    color: white;
    font-size: 3vh;
    border: none;
    top: 0px;
    letter-spacing: 0vw;
    font-weight: 600;
  }
  body {
    background-image: none;
    overflow-x: hidden;
  }
  #background {
    z-index: -1;
    background-image: url(../media/images/fishCircle2.webp);
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-position: center;
  }
  .menu li {
    border: solid rgba(0, 41, 87, 0) !important;
  }
  .menu-container a {
    border-radius: 15px;
    border: rgba(87, 0, 0, 0) solid 1px;
    transition: 0.5s;
  }
  .menu-container a:hover {
    border-radius: 15px;
    border: white solid 1px;
  }
  #onFocusMobile {
    border-radius: 15px;
    border: rgb(255, 255, 255) solid 1px;
    transition: 0.5s;
  }
  .menu-container {
    flex-direction: column;
    align-items: flex-start;
    border: rgb(255, 255, 255) solid 1px;
    border-top: rgb(0, 40, 87);
    border-left: none;
  }

  .menu-logo {
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 80px;
    max-width: 80px;
    flex-shrink: 0;
    background-color: rgba(0, 41, 87, 0) !important;
    padding: 5px;
    border: #0c7cde00 solid !important;
  }

  /* HBMenu */
  .menu {
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.548);
    z-index: -2;
    position: absolute;
    box-sizing: border-box;
    width: 270px;
    left: -300px;
    top: 0;
    margin: -15px;
    padding: 100px 50px 10px 60px;
    background: rgb(0, 40, 87);
    border-radius: 0px 0px 50px 0px;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  #brForMobile {
    display: none;
  }
  #desktopTitle {
    color: white;
    font-size: 30px;
    border: none;
    top: 0px;
    letter-spacing: 4px;
    font-weight: bold;
  }
  #mobileTitle {
    display: none;
  }
  .menu-container {
    width: 100%;
    padding: 0px;
  }

  .menu-container a {
    color: white;
    font-size: 20px;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 10 0;
  }

  .menu li {
    padding: 0 20px;
    border-radius: 15px;
    border: solid rgba(0, 41, 87, 0) 1px;
    margin: 2px;
    background-size: 400% 250%;
    transition: 0.5s;
  }
  .menu li:hover {
    border-radius: 15px;
    border: white solid 1px;
  }
}
.contentBoxText p {
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  user-select: "text";
}
.contentBox div {
  user-select: "text";
  scroll-behavior: smooth;
  background-color: rgb(0, 40, 87);
  height: 200px;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: solid rgb(255, 255, 255) 1px;
  padding: 20px;
  padding-top: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
  z-index: -1;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.548);
}

/* .body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
} */
/* -------------------------------------CSS for Checkout form-------------------------------------- */

.popup {
  top: 150px !important;
  left: 80px;
  position: absolute;
  width: 30px;
  height: 30px;
}
.popup img {
  width: 300px;
  height: 300px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.COcontainer {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label.checkoutForm {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 767px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 767px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* Styles for increment and decrement buttons */
.increment-btn,
.decrement-btn {
  background-color: #ddd;
  color: #555;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
  transition: 0.2s;
}
.increment-btn:hover,
.decrement-btn:hover {
  background-color: #bbb;
}

/* Container for item links, buttons, and prices */
.item-container {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

/* Price styling */
.price {
  margin-left: auto; /* Push prices to the right */
}

/*TODO: -Try to make new branch if needed
        -center things in header 
        -add shopping cart icon  ✔️
        -login/register (take from adVize)
        -make gallery cuz ez if u get pics 
        -make outline go away (border) on "Kuzen balıkçılık"  
        -maybe change the logo a little in photoshop
        -add all sites and header + scroll Button code
        -remove logo bg
          
  */
