html * {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: rgb(16, 2, 54); */
}

/* .blankLink{
  text-decoration: none;
  color: black;
} */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

a .sbtn {
  background-image: linear-gradient(
    to bottom,
    #0c7cde,
    rgb(16, 2, 54),
    #0c7cde
  );
  z-index: 5;
  background-size: 400% 250%;
  cursor: pointer;
  text-transform: lowercase;
  position: fixed;
  bottom: 15px;
  right: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: white;
  padding: 7px 20px 1px 20px;
  border: solid 0.1px white;
  box-shadow: rgb(0, 0, 0) 0px 9px 28px -2px;
  border-radius: 21px;
  transition: 613ms;
  transform: translateY(0);
}

a .sbtn:hover {
  transition: 613ms;
  padding: 7px 20px 1px 20px;
  transform: translateY(-18px);
  color: white;
  border: solid 1px white;
  background-position: bottom;
}

body {
  background-image: url("../media/images/fishCircle2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.menu-container {
  border-bottom: solid white 1px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #9b9b9b;
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  background-color: rgb(0, 40, 87);
}

.menu-logo {
  line-height: 0;
  margin: 0 0 0 0;
}
.Klogo {
  border: rgba(0, 0, 0, 0) solid !important;
}
.Klogo:hover {
  border: rgba(0, 0, 0, 0) solid !important;
}
.cart img {
  max-width: 40px !important;
  max-height: 40px !important;
}

.menu-logo img {
  max-height: 90px;
  max-width: 100px;
  flex-shrink: 0;
  padding: 1px;
  background-color: rgb(0, 40, 87);
  border-radius: 10px;
  padding: 5px;
  border: #0c7cde00 solid !important;
}

.menu-container a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  transition: 0.5s;
  border-radius: 15px;

  padding: 8px;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff; /*hamburger color*/
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: rgb(255, 255, 255);
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* 
for mobile styles MARK: MOBILE  
*/
@media only screen and (max-width: 767px) {
  #oltaBox {
    margin-top: 250px !important;
  }
  .contentBox {
    margin: 50px 0px !important;
  }
  a .sbtn {
    right: 5px !important;
  }
  p.contentBoxText {
    width: 300px;
    font-size: 20px !important;
  }
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 30vh !important;
    width: 30vh !important;
  }
  #circle {
    display: none;
  }
  #mobileTitle {
    display: block;
    align-self: center;
    position: absolute;
    color: white;
    font-size: 3vh;
    border: none;
    top: 0px;
    letter-spacing: 0vw;
    font-weight: 600;
  }
  body {
    background-image: none;
  }
  #background {
    z-index: -1;
    background-image: url(../media/images/fishCircle2.webp);
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-size: cover;
    background-position: center;
  }
  .menu li {
    border: solid rgba(0, 41, 87, 0) !important;
  }
  .menu-container a {
    border-radius: 15px;
    border: rgba(87, 0, 0, 0) solid 1px;
    transition: 0.5s;
  }
  .menu-container a:hover {
    border-radius: 15px;
    border: white solid 1px;
  }
  #onFocusMobile {
    border-radius: 15px;
    border: rgb(255, 255, 255) solid 1px;
    transition: 0.5s;
  }
  .menu-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-logo {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 80px;
    max-width: 80px;
    flex-shrink: 0;
    background-color: rgba(0, 41, 87, 0) !important;
    padding: 5px;
    border: #0c7cde00 solid !important;
  }

  /* HBMenu */
  .menu {
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.548);
    z-index: -2;
    position: absolute;
    box-sizing: border-box;
    width: 270px;
    left: -300px;
    top: 0;
    margin: -15px;
    padding: 100px 50px 10px 60px;
    background: rgb(0, 40, 87);
    border-radius: 0px 0px 50px 0px;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(100%);
  }
}

/* 
for desktop styles MARK: DESKTOP
 */
@media only screen and (min-width: 768px) {
  #telNo {
    position: absolute;
    left: 35%;
  }
  #supportLink {
    left: 50%;
    position: absolute;
  }
  p.contentBoxText {
    padding-top: 0px !important;
  }
  #oltaBtn {
    user-select: none;
    left: 15vh !important;
    top: 80%;
  }
  .button-container {
    text-align: center; /* Center the button */
    margin-top: 20px; /* Adjust margin as needed */
    position: absolute;
    top: 75%;
    left: 57%;
  }
  .infoTable {
    font-size: 30px;
    height: 0px;
    top: 80px;
    position: relative;
    margin-left: 100px !important;
    margin-bottom: 110px !important;
  }
  .contentBox {
    display: flex;
  }
  #brForMobile {
    display: none;
  }
  #desktopTitle {
    color: white;
    font-size: 30px;
    border: none;
    top: 0px;
    letter-spacing: 4px;
    font-weight: bold;
  }
  #mobileTitle {
    display: none;
  }
  .menu-container {
    width: 100%;
    padding: 0px;
  }

  .menu-container a {
    color: white;
    font-size: 20px;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 10 0;
  }

  .menu li {
    padding: 0 20px;
    border-radius: 15px;
    border: solid rgba(0, 41, 87, 0) 1px;
    margin: 2px;
    background-size: 400% 250%;
    transition: 0.5s;
  }
  .menu li:hover {
    border-radius: 15px;
    border: white solid 1px;
  }
}
/* MARK: contentBox
*/
p.contentBoxText {
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  user-select: text !important;
  display: block;
}
.contentBox {
  user-select: text !important;
  scroll-behavior: smooth;
  background-color: rgb(0, 40, 87);
  height: auto;
  position: absolute;
  top: 55vh; /* Adjust the top position */
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: solid rgb(255, 255, 255) 1px;
  padding: 20px;
  padding-top: 50px; /* Add padding to the top */
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
  z-index: 1;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.548);
}

.contentBoxText {
  padding-top: 10px; /* Add padding to the top */

  font-size: 20px;
  font-weight: bold;
  z-index: 1;
  user-select: text !important;
  display: block;
  text-align: center; /* Center the text horizontally */
  margin: 0 auto 20px !important; /* Center the label vertically and add margin at the bottom */
  position: absolute; /* Position the label absolutely */
  top: 0; /* Position the label at the top of its containing element */
  left: 50%; /* Move the label to the horizontal center */
  transform: translateX(-50%); /* Adjust for horizontal centering */
}

/* -----------------------MARK: image slideshow ----------------------- 
*/

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 45vh;
  width: 45vh;
}

agag {
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 45vh;
    width: 100vh;
  }
}

.Gbtn {
  user-select: none;
  color: white;
  font-weight: 500;
  width: 30vh;
  font-size: 30px;
  background-image: linear-gradient(
    to bottom,
    #0c7cde,
    rgb(16, 2, 54),
    #0c7cde
  );
  background-size: 400% 250%;
  border-radius: 15px;
  transition: 613ms;
  border: solid rgba(255, 255, 255, 0) 1px;
}

.Gbtn:hover {
  background-image: linear-gradient(
    to bottom,
    #0c7cde,
    rgb(16, 2, 54),
    #0c7cde
  );
  background-size: 400% 250%;
  border-radius: 15px;
  transition: 613ms;
  border: solid 1px white;
  background-position: bottom;
}

p.contentBoxText {
  font-size: 35px;
}

/* ----------------- MARK: FOOTER --------------- */
#fb {
  margin-top: 430vh;
}

.site-footer {
  background-color: #002857;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #aaa9a9;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #aaa9a9;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #aaa9a9;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #002857;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.instagram:hover {
  transition: all 0.2s linear;

  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-icons a.sahibinden:hover {
  background-color: #dacb2d;
  color: black;
}
.social-icons a.tiktok:hover {
  background-image: linear-gradient(to bottom, #00efe8, #f7004d);
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.gradiantA {
  background: rgb(1, 26, 55);
  background: linear-gradient(
    to bottom right,
    rgba(1, 26, 55, 1) 0%,
    rgba(45, 128, 241, 1) 25%,
    rgba(0, 11, 48, 1) 49%,
    rgba(0, 96, 255, 1) 73%,
    rgba(0, 45, 120, 1) 91%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
